<?xml version="1.0" encoding="utf-8"?>
<charset>
  <FileVersion>2</FileVersion>
  <BK1>07</BK1>
  <BK2>57</BK2>
  <Col3>37</Col3>
  <Reversed>False</Reversed>
  <Multicolour>False</Multicolour>
  <Uppercase>True</Uppercase>
  <character>
    <charcode>0</charcode>
    <chardata>
      <data>10</data>
      <data>32</data>
      <data>128</data>
      <data>132</data>
      <data>132</data>
      <data>128</data>
      <data>128</data>
      <data>128</data>
    </chardata>
  </character>
  <character>
    <charcode>1</charcode>
    <chardata>
      <data>32</data>
      <data>32</data>
      <data>36</data>
      <data>52</data>
      <data>116</data>
      <data>118</data>
      <data>119</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>2</charcode>
    <chardata>
      <data>4</data>
      <data>4</data>
      <data>36</data>
      <data>52</data>
      <data>54</data>
      <data>62</data>
      <data>255</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>3</charcode>
    <chardata>
      <data>160</data>
      <data>8</data>
      <data>2</data>
      <data>18</data>
      <data>18</data>
      <data>2</data>
      <data>2</data>
      <data>2</data>
    </chardata>
  </character>
  <character>
    <charcode>4</charcode>
    <chardata>
      <data>128</data>
      <data>128</data>
      <data>140</data>
      <data>140</data>
      <data>131</data>
      <data>128</data>
      <data>32</data>
      <data>10</data>
    </chardata>
  </character>
  <character>
    <charcode>5</charcode>
    <chardata>
      <data>2</data>
      <data>2</data>
      <data>50</data>
      <data>50</data>
      <data>194</data>
      <data>2</data>
      <data>8</data>
      <data>160</data>
    </chardata>
  </character>
  <character>
    <charcode>6</charcode>
    <chardata>
      <data>71</data>
      <data>71</data>
      <data>34</data>
      <data>42</data>
      <data>42</data>
      <data>62</data>
      <data>255</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>7</charcode>
    <chardata>
      <data>34</data>
      <data>42</data>
      <data>42</data>
      <data>126</data>
      <data>127</data>
      <data>127</data>
      <data>255</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>8</charcode>
    <chardata>
      <data>4</data>
      <data>36</data>
      <data>44</data>
      <data>44</data>
      <data>41</data>
      <data>109</data>
      <data>255</data>
      <data>255</data>
    </chardata>
  </character>
</charset>
